{% extends 'base.html' %}

{% block principal %}
    <h2>Listado de ejemplares</h2>

    <table>
        <tr>
            <th>Numero de ejemeplares</th> 
            <th>Fecha de compra</th>
            <th>Libro</th>
            {% if user.is_authenticated %}
            <th>Editar</th>
            <th>Borrar</th>
            {% endif %}
        </tr>
        {% for libro in object_list  %}
            <tr>
                <td> {{ libro.numeroejemplar }}</a></td>
                <td>{{libro.fechadecompra }}</td>
                <td><a href="{% url 'detalle_ejemplar' libro.pk %}">{{libro.libro }}</a></td>
                {% if user.is_authenticated %}
                <td><a href="{% url 'editar_ejemplar' libro.id %}">Editar</a></td>
                <td><a href="{% url 'eliminar_ejemplar' libro.id %}">Borrar</a></td>
                {% endif %}
            </tr>
        {% endfor %}

    </table>
   
    {% if user.is_authenticated %}
    <a href="{% url 'nuevo_ejemplar' %}">Nuevo ejemplar</a>
    {% endif %}
{% endblock %}

